.tech-stack {
  width: 35vw;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 1rem;
}

.icon-container {
  max-width: 60px;
  max-height: 60px;
}

.icon {
  height: 100%;
  width: 100%;
  object-fit: contain;
}