.friends-container {
    margin: 50px 50px 50px 200px;
    width: 30%;
}

.friends-title {
    display: flex;
}

.friends-title > h4 {
    margin: 0;
}

.friends-title > span {
    margin-left: 10px;
    vertical-align: bottom;
}

.friends-list {
    display: flex;
}

.friend-avatar {
    margin: 10px;
}