.prefooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 364px;
  background-color: #13293d;
  letter-spacing: 0.01em;
}

.prefooter__text {
  margin-top: 98px;
  margin-bottom: 63px;
  color: #ffffff;
  font-size: 32px;
  line-height: 44px;
}

@media (max-width: 769px) {
  .prefooter {
    height: 340px;
  }
}

@media (max-width: 398px) {
  .prefooter {
    height: 320px;
  }

  .prefooter__text {
    text-align: center;
    margin-top: 80px;
    font-size: 26px;
    line-height: 36px;
  }  
}