.hidden {
    display: none;
}

.userNav {
    width: 48px;
    height: 48px;
    text-align: left;
    letter-spacing: 0.01em;
    position: relative;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 52px;
}

.userNav__img-wrapper {
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
}

.userNav__img-wrapper img {
    border-radius: 50px;
    height: 100%;
}

.subMenu {
    right: 0px;
    width: 166px;
    height: 54px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    text-align: right;
    padding: 5% 25%;
    box-sizing: border-box;
    border-radius: 10px;
}

.subMenu p {
    padding: 0px;
    margin-top: 0.7rem;
    letter-spacing: 0.05rem;
    cursor: pointer;
    line-height: 0.4rem;
}

.subMenu a {
    display: block;
    text-decoration: none;
    color: black;
}

.subMenu a:hover {
    color: rgb(86, 194, 253);
}
