.form-container {
    width: 100%;
}

.form-background {
    background-color: #f2f5fa;
    width: 100%;
}

.form-element {
    padding-top: 25px;
}

.form-input {
    display: block;
    width: 400px;
    height: 45px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 18px;
    padding-left: 16px;
    outline: none;
}

.form-input:focus {
    border: 1px solid #4eb9f4;
    transition: border 0.2s linear;
}

.form-label {
    font-size: 18px;
    color: #666;
}

.form-textarea {
    height: 175px;
    width: 560px;
    padding-top: 12px;
}

.form-techstack {
    height: 400px;
    background-color: #f2f5fa;
    width: 100vw;
}

.form-techstack-summary {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.form-techstack-summary-list {
    padding-right: 35px;
}

.form-techstack-summary-list-image {
    padding-right: 30px;
    width: 40px;
}

.page__header--second {
    color: #333;
    font-weight: bold;
    margin: 0;
}

.form-techstack-search {
    width: 460px;
    height: 56px;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 80px;
    font-family: "Open Sans";
    font-size: 18px;
    padding-left: 30px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-top: 40px;
    outline: none;
}

.form-input-number {
    margin-left: 20px;
    display: inline-block;
    width: 100px;
}

.createProjectBar {
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    border-top: 1px solid rgb(102, 102, 102, 0.2);
    height: 75px;
    background-color: white;
    align-items: center;
    bottom: 0;
}

.createProjectBar-container {
    margin-left: 100px;
}
