.stories-container {
  height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 80px 0;
  background: white;
  letter-spacing: 0.01em;
}

.user-stories {
  height: fit-content;
  padding: 2rem 0rem 3rem 0;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  position: relative;
}

.user-profile-img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  border-radius: 50px;
  background-size: cover;
  top: -2.5rem;
  left: calc((70vw - 5rem) / 2);
}

.stories-nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  padding: 1rem 2.5rem;
}

.stories-nav-btn {
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 10px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.user-name {
  margin: 3rem 0 00;
}
.user-text {
  width: 70%;
  font-size: 16px;
  line-height: 162.2%;
}
.stories-header {
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.01em;
  margin-bottom: 108px;
  margin-top: 0;
  color: #333333;
}
.nav-circles-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 20%;
  height: 20px;
  align-items: center;
}
.nav-circles {
  background: #f2f5fa;
  width: 16px;
  height: 16px;
  border-radius: 50px;
}

.nav-circles:hover {
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: 2px solid #56c2ff;
}
.nav-circles.active {
  background: #56c2ff;
}
