.dashboard__sidebar {
    flex-basis: 65px;
    background-color: white;
    transition: flex-basis 0.1s linear;
}

.dashboard__item {
    display: flex;
    /* flex-direction: column; */
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 20px;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
}

.dashboard__item:hover {
    background-color: #ebf8ff;
    transition: background-color 0.1s linear;
}

.dashboard__item__text {
    color: #333;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

.dashboard__item__icon {
    align-self: flex-start;
    padding-right: 20px;
}

.dashboard__item__upper-menu {
    display: flex;
    /* flex-wrap: wrap; */
}

.dashboard__item__lower-menu {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

#menu__click {
    display: none;
}

#menu__click:checked + label > div > span {
    display: block;
}

.testingthis {
    display: none;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 10px;
}

.testingthis:hover {
    color: #9779ee;
}

.dashboard__item__dropdown-button {
    position: absolute;
    right: 3px;
}
