.dashboard__sidebar {
    flex-basis: 65px;
    background-color: white;
    transition: flex-basis 0.1s linear;
}

.dashboard__item {
    display: flex;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    padding-left: 20px;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
}

.dashboard__item:hover {
    background-color: #ebf8ff;
    transition: background-color 0.1s linear;
}

.dashboard__item__text {
    color: #333;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

.dashboard__item__icon {
    align-self: flex-start;
    padding-right: 20px;
}

.dashboard__item__upper-menu {
    display: flex;
}

.dashboard__item__lower-menu {
    transform: scaleY(0);
    transform-origin: top;
    display: flex;
    flex-direction: column;
}

[id^="menu__click"] {
    display: none;
}

[id^="menu__click"]:checked + label > div {
    transform: scaleY(1);
    transition: transform 0.1s linear;
}

[id^="menu__click"]:checked + label > div > button {
    display: block;
}

.dashboard__item__lower-menu__item {
    display: none;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
    color: #333;
    text-align: left;
    font-family: "Open Sans";
}

.dashboard__item__lower-menu__item:hover {
    color: #9779ee;
}

.dashboard__item__dropdown-button {
    position: absolute;
    margin-top: 2px;
    right: 10px;
}
