
/*.container {*/
/*  display: flex;*/
/*  width: 1440px;*/
/*}*/

/*.navbar {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  padding: 14px;*/
/*  letter-spacing: 0.01em;*/
/*}*/

/*.navbar__logo {*/
/*  flex-grow: 3;*/
/*  margin-left: 64px;*/
/*  align-self: center;*/
/*}*/

/*.navbar__links {*/
/*  margin-right: 161px;*/
/*  align-self: center;*/

/*}*/

/*.navbar__links__link {*/
/*  margin-left: 52px;*/
/*}*/

.login-button {
  margin-left: 64px;
}

.navbar__m-dropdown {
  display: flex;
}

.navbar__m-icon {
  display: none;
}

@media (max-width: 1024px) {
  .navbar__logo,
  .navbar__m-icon {
    margin: 0
  }
  .navbar__links {
    width: 100%;
    position: absolute;
    z-index: 6;
    top: 69px;
    left: 0;
    background-color: white;
    max-height: 0;
    transition: max-height .3s linear;
    overflow: auto;
    margin: 0;
  }

  .navbar__m-dropdown.open .navbar__links {
    height: calc(100vh - 93px);
    max-height: none;
    display: flex;
    flex-direction: column;
  }

  .navbar__m-dropdown.open .navbar__links > * {
    margin: 30px auto;
  }

  .navbar__m-icon {
    cursor: pointer;
    padding: 10px 8px;
    display: flex;
    border: 0;
    flex-direction: column;
    background: 0;
    align-items: center;
    transition: .4s;
    margin-right: 64px;
    outline: 0;
  }

  .navbar__m-dropdown.open .navbar__m-icon {
    transform: rotate(180deg);
  }

  .navbar__m-dropdown.open .navbar__m-icon .navbar__m-icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px,5px);
  }
  .navbar__m-dropdown.open .navbar__m-icon .navbar__m-icon-bar:nth-child(2) {
    opacity: 0;
  }
  .navbar__m-dropdown.open .navbar__m-icon .navbar__m-icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px,-5px);
  }

  .navbar__m-icon-bar {
    width: 20px;
    height: 2px;
    margin: 0 0 5px 0;
    background: #344b60;
    transition: .4s;
  }

  .navbar__m-icon-bar:nth-child(2) {
    width: 28px;
  }

  .navbar__links__link,
  .login-button {
    margin: 0;
  }
}