.apply-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 120px;
}

.apply-window {
    position: relative;
    grid-column: 2 / 2;
    margin: 20px 0 0 0;
    width: 500px;
    height: 920px;
    background-color: white;

    -webkit-box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.apply-window > h1 {
    margin: 50px 0 50px 0;
}

.apply-form {
    margin: 25px;
}

.apply-input {
    margin-bottom: 25px;
}

.apply-button {
    margin: 30px 0 50px 0;
}

.text-area {
    height: 80px;
    font-size: 15px;
    resize: none;
}

.radio-buttons {
    margin: 20px 0 40px 30px;
}

@media (max-width: 580px) {
    .apply-container {
        grid-template-columns: auto;
    }
    .apply-window {
        background-color: transparent;
        box-shadow: none;
        width: 100%;
    }
}
