.dashboard {
    display: flex;
    background-color: #f9fbff;
}

.dashboard__content {
    flex-shrink: 20;
}

.dashboard__sidebar {
    flex-basis: 65px;
    background-color: white;
    transition: flex-basis 0.1s linear;
}

.dashboard__item {
    display: flex;
    padding-top: 25px;
    padding-left: 20px;
    white-space: nowrap;
}

.dashboard__item__text {
    color: #333;
    font-weight: bold;
    display: none;
}

.dashboard__item__icon {
    color: #333;
    padding-right: 20px;
}
