.dashboard {
    display: flex;
    background-color: #f9fbff;
}

.dashboard__content {
    flex-shrink: 20;
}

.dashboard__sidebar {
    flex-basis: 65px;
    background-color: white;
    transition: flex-basis 0.1s linear;
}

.dashboard__item {
    display: flex;
    /* flex-direction: column; */
    padding-top: 25px;
    padding-left: 20px;
    white-space: nowrap;
}

.dashboard__item__text {
    color: #333;
    font-weight: bold;
    display: none;
}

.dashboard__item__icon {
    align-self: flex-start;
    color: #333;
    padding-right: 20px;
}

.dashboard__item__upper-menu {
    display: flex;
    /* flex-wrap: wrap; */
}

.dashboard__item__lower-menu {
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
}

#menu__click {
    display: none;
}

#menu__click:checked + label > div > span {
    display: block;
}

.testingthis {
    display: none;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 10px;
}
